html {
  font-size: 10px;
  font-family: 'Cormorant Garamond', serif;
}


h1 {
  font-size: 40px;
  text-align: center;
}

li {
  font-family: 'Lora', serif;
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
  color: darkblue
  
}
p {
  font-family: 'Playfair Display', serif;;
  font-size: 18px;  
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #ffe6ff;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffff66;
  padding: 0 2px 2px 2px;
  border: 5px solid white;
  
}

h1 {
  margin: 0;
  padding: 15px 0;  
  color: #00534F;
 
}

img {
  display: block;
  margin: 0 auto;
}